<!DOCType html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <title>Kanban Board</title>
    </head>
    <body class="sans-serif" style="background-color: #D4F5F5;">
        <%= yield %>
        <footer>
            <p>Created by: Nikolett</p>
        </footer>
    </body>

</html>